<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Flask homework 3</title>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<header>
    <h1>Главная страница</h1>
</header>

<ul>
    <li><a href="/duck/">Рандомная утка</a></li>
    <br><br>
    <li><a href="/fox/">Лиса API + (Курама)</a></li>
    <br><br>
    <li><a href="/weather-minsk/">Погода в Минске</a></li>

    <li>Погода в других городах:</li>
    <ol>
        <li><a href="/weather/Moscow/">Москва</a></li>
        <li><a href="/weather/Paris/">Париж</a></li>
        <li><a href="/weather/Rome/">Рим</a></li>
        <li><a href="/weather/Rio/">Рио</a></li>
        <li><a href="/weather/Tokyo/">Токио</a></li>
    </ol>
</ul>

</body>
</html>