{% extends "base.html" %}

{% block content %}
<div class="page-bg">
    <div class="main-glass">
<section class="hw-section" style="text-align: center;">
    <div class="main-page-container">
        <a href="." class="title-link">
            <h1 class="main-page-title">Главная</h1>
        </a>
        <div class="animated-underline"></div>
    </div>
</section>

        <div class="main-links">
            <a href="/duck" class="glass-button">🦆 Рандомная утка</a>
            <a href="/fox/4/" class="glass-button">🦊 Лисы API (Курама)</a>
            <a href="/weather-minsk" class="glass-button">☁️ Погода в Минске</a>
        </div>

        <div class="cities">
            <a href="/weather/moscow" class="glass-button">🌍Москва</a>
            <a href="/weather/paris" class="glass-button">🌍Париж</a>
            <a href="/weather/rome" class="glass-button">🌍Рим</a>
            <a href="/weather/rio" class="glass-button">🌍Рио</a>
            <a href="/weather/tokyo" class="glass-button">🌍Токио</a>
            <a href="/homework5" class="glass-button">📚 Домашнее задание №5</a>
            <a href="/homework6" class="glass-button">📚 Домашнее задание №6</a>


        </div>
    </div>
</div>
{% endblock %}

