<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Погода в городах</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🌤 Погода в {{ weather.city }}</h1>
    <img
        src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png"
        alt="Погода"
    >
    <p>🌡 Температура: {{ weather.temp }} °C</p>
    <p>🤔 Ощущается как: {{ weather.feels }} °C</p>
    <p>☁️ Описание: {{ weather.description }}</p>
    <br>


<div style="margin-top: 20px;">
    <a href="/" class="glass-button" style="text-decoration: none; display: inline-block;">На главную</a>
</div>

</body>
</html>